/*-- scss:defaults --*/

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=Space+Grotesk:wght@300;400;500;600;700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

$font-family-sans-serif: "Atkinson Hyperlegible", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-monospace: "Space Mono", monospace !default;

$font-weight-bold: 800;
$font-weight-normal: 400;

// Colors
$white: hsla(0, 0%, 100%, 1);
$gray-100: hsl(210, 17%, 98%) !default;
$gray-200: hsl(210, 16%, 93%) !default;
$gray-300: hsl(0, 0%, 87%) !default;
$gray-400: hsl(210, 14%, 83%) !default;
$gray-500: hsl(210, 11%, 71%) !default;
$gray-600: hsl(210, 7%, 56%) !default;
$gray-700: hsl(210, 9%, 31%) !default;
$gray-800: hsl(210, 10%, 23%) !default;
$gray-900: hsl(210, 11%, 15%) !default;
$black: hsl(0, 0%, 0%) !default;

$theme-colors: (
  "white": hsl(0, 0%, 100%),
  "light": hsl(219, 49%, 91%),
  "default": hsl(210, 11%, 71%),
  "dark": hsl(227, 100%, 3%),
  "primary": hsl(227, 71%, 55%),
  "secondary": hsl(225, 95%, 63%),
  "info": hsl(221, 96%, 70%),
  "accent1": hsl(227, 89%, 22%),
  "accent2": hsl(226, 61%, 48%),
  "accent3": hsl(218, 78%, 77%),
  "success": hsl(152, 37%, 46%),
  "warning": hsl(36, 54%, 51%),
  "danger": hsl(4, 90%, 58%),
  "gray-100": hsl(210, 17%, 98%),
  "gray-200": hsl(210, 16%, 93%),
  "gray-300": hsl(0, 0%, 87%),
  "gray-400": hsl(210, 14%, 83%),
  "gray-500": hsl(210, 11%, 71%),
  "gray-600": hsl(210, 7%, 56%),
  "gray-700": hsl(210, 9%, 31%),
  "gray-800": hsl(210, 10%, 23%),
  "gray-900": hsl(210, 11%, 15%),
);

$color-names: map-keys($theme-colors);

$light: map-get($theme-colors, "light");
$dark: map-get($theme-colors, "dark");
$primary: map-get($theme-colors, "primary");
$secondary: map-get($theme-colors, "secondary");
$info: map-get($theme-colors, "info");
$accent1: map-get($theme-colors, "accent1");
$accent2: map-get($theme-colors, "accent2");
$accent3: map-get($theme-colors, "accent3");
$success: map-get($theme-colors, "success");
$warning: map-get($theme-colors, "warning");
$danger: map-get($theme-colors, "danger");

$light-accent : $accent3;
$medium-accent: $accent2;
$dark-accent : $accent1;
$default: $gray-500;

$dark-background: $dark-accent;
$light-background: $light;
$white-background: $white;

$link-color : $light !default;
// Default values for callout colors
$callout-color-note: $primary !default;
$callout-color-tip: $success !default;
$callout-color-important: $danger !default;
$callout-color-warning: $warning !default;

// Breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

/*-- scss:rules --*/

// General styles

body {
  font-family: $font-family-sans-serif;
  color: $dark;
}

p {
  font-family: inherit;
  line-height: calc(150% + (0.0025vw * (100 - 30)));
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-sans-serif;
  font-weight: 400;
  color: inherit;
  border-bottom: none;
}

a {
  color: $primary !important;
  text-decoration: none;
  padding-right: 0.1em;
  padding-left: 0.1em;

  &:hover {
    font-weight: $font-weight-bold;
  }
}

.date {
  color: $default;
}

.font-normal {
  font-weight: $font-weight-normal;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-lowercase {
  text-transform: lowercase;
}

// Callouts

// Define callout colors here (uncomment and customize as needed)
// $callout-color-note: $primary !default;
// $callout-color-tip: $success !default;
// $callout-color-important: $danger !default;
// $callout-color-warning: $warning !default;

// Responsive iframe styles

.container {
  position: relative;
  width: 100%;
  padding-bottom: 5%;
}

.responsive-iframe {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 500px;
}

// RevealJS specific styles

.reveal {

  & .inverted {
    color: $light;
    background-color: $dark-accent;

    & h1 {
      text-transform: lowercase;
    }
  }

  & .has-dark-background {
    color: $white;
    background-color: $dark-accent;

    & h1,
    & h2,
    & h3,
    & h4 {
      color: $light;
    }
  }

  & .title-box {
    position: absolute;
    right: 480px;
    top: 200px;
    height: 550px;
    width: 1500px;
    background-color: $light-accent;
    padding: 20px;
    padding-left: 50px;
    box-shadow: -15px 15px 0px 0px $dark-accent;
    border-radius: 5px;
  }

  & .title-subtitle {
    font-size: 1.5rem;
    font-weight: 400;
    color: $medium-accent;
  }

  & .quarto-title-block {
    text-align: left;

    & .quarto-title-authors {
      color: $dark;
      display: flex;
      justify-content: flex-end;
      text-align: right;
    }

    .date {
      display: flex;
      justify-content: flex-end;
      font-size: 1.5rem;
      text-align: right;
      padding-right: 0.5em;
    }

    & .title-social {
      font-family: $font-family-monospace;
      color: $light-accent;
    }
  }

  & h1,
  & h2,
  & h3,
  & h4,
  & h5,
  & h6 {
    font-family: $font-family-sans-serif;
    font-weight: $font-weight-bold;
    text-transform: lowercase;
    color: inherit;
    align-self: flex-start;

    &.title {
      font-size: 6rem;
      font-weight: $font-weight-bold;
      color: $primary;
      text-transform: uppercase;
      text-align: left;
      letter-spacing: 0.05em;
    }
  }

  & blockquote {
    border-left: none;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="hsl(219, 49%, 91%)" class="bi bi-quote" viewBox="0 0 16 16"><path d="M12 12a1 1 0 0 0 1-1V8.558a1 1 0 0 0-1-1h-1.388c0-.351.021-.703.062-1.054.062-.372.166-.703.31-.992.145-.29.331-.517.559-.683.227-.186.516-.279.868-.279V3c-.579 0-1.085.124-1.52.372a3.322 3.322 0 0 0-1.085.992 4.92 4.92 0 0 0-.62 1.458A7.712 7.712 0 0 0 9 7.558V11a1 1 0 0 0 1 1h2Zm-6 0a1 1 0 0 0 1-1V8.558a1 1 0 0 0-1-1H4.612c0-.351.021-.703.062-1.054.062-.372.166-.703.31-.992.145-.29.331-.517.559-.683.227-.186.516-.279.868-.279V3c-.579 0-1.085.124-1.52.372a3.322 3.322 0 0 0-1.085.992 4.92 4.92 0 0 0-.62 1.458A7.712 7.712 0 0 0 3 7.558V11a1 1 0 0 0 1 1h2Z"/></svg>');
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 6rem;
    text-shadow: 0 0 2px white;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
  }

  & .right {
    text-align: right;
  }

  & .text-emphasis {
    font-weight: $font-weight-bold;
    color: $primary;
  }

  & .slides section .fragment.highlight-current-blue.current-fragment {
    color: $primary;
  }

  & .slide-menu-button a {
    color: $light;
  }

  & .progress span {
    background-color: $accent3;
  }

  & .slide-cite {
    color: $default;
    font-size: 1rem;
    position: absolute;
    display: block;
    margin-top: 5px;
    text-align: right;
    bottom: 0;
    right: 0;
  }

  & img {
    border-radius: 10px;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    justify-content: center;
  }

  & table th,
  & table td {
    text-align: left;
    padding: .2em .5em .2em .5em;
    border-bottom: 1px solid;
    border-color: $light;
  }
}

// Extras

.empty {
  color: inherit;
  -webkit-text-stroke: 2px;
  text-stroke: 2px;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
}